@keyframes uVizAd {
    0% {transform: translateX(-200px); opacity: 0;}
    5% {transform: translateX(-30px); opacity: 1;}
    20% {opacity: 1;}
    21% {opacity: 0;}
    22% {opacity: 1;}
    23% {opacity: 0;}
    24% {opacity: 1;}
    25% {opacity: 0;}
    26% {opacity: 1;}
    26.5% {opacity: 0;}
    27% {opacity: 1;}
    27.5% {opacity: 0;}
    28% {opacity: 1;}
    28.5% {opacity: 0;}
    29% {opacity: 1;}
    29.5% {opacity: 0;}
    30% {opacity: 1;}
    60% {opacity: 1;}
    60.5% {opacity: 0;}
    61% {opacity: 1;}
    61.5% {opacity: 0;}
    62% {opacity: 1;}
    62.5% {opacity: 0;}
    63% {opacity: 1;}
    85% {opacity: 1;}
    90% {transform: translateX(30px); opacity: 0.2;}
    92% {opacity: 0;}
    95% {transform: translateX(2000px);}
    100% {transform: translateX(2000px);}
}

* {
    margin: 0;
}

h1 {
    color: blue;
}

html {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(black, black, black, purple);
}

#uVizionAd {
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    user-select: none;
    pointer-events: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;;
}

#uVizionAd div {
    height: 20%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#uVizionAd div img {
    position: absolute;
    opacity: 0;
    width: 30%;
}

.adTime {
    animation: 5s linear 1 uVizAd;
}

@keyframes nuke {
    0%   {transform: scale(1);}
    50%  {transform: scale(2.6);}
    100% {transform: scale(1);}
}

#nuke {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 50;
    /* background-color: lime; */
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#nukeImg {
    width: 90%;
    animation: nuke 2s linear infinite;
}
